.article-frame {
  width: calc(100vw - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  background-color: transparent;
}
.headline-shortcuts {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding-left: 14px;
}

section.articles-with-images {
  @extend .article-frame;
  margin-top: 25px;
  background-color: transparent;
  article {
    margin-bottom: 10px;
    .article-body {
      text-align: left;
      padding-left: 10px;
      padding-bottom: 10px;
    }
  }
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;

  .card-image {
    width: 100%;
    background-color: white;
    img {
      width: 100%;
    }
  }
}

.headline-article {
  @extend .article-frame;
  background-color: white;
  border-bottom: 1px solid grey;
  article {
    .article-body {
      padding: 8px;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      text-align: left;
    }
    &.without-images {
      .article-body {
        border-top: 1px black dashed;
        font-size: 15px;
        margin: 3px 0 0;
      }
    }
  }
}

.article-body {
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 420px) {
  section.articles-with-images {
    align-items: flex-start;
    flex-direction: row;

    flex-wrap: wrap;
    article {
      width: calc(50% - 9px);
      overflow: hidden;
      margin-bottom: 10px;
      margin: 0px 5px 5px 4px;
      border-bottom: 1px solid grey;
      .card-image {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 130px;

        img {
          min-height: 130px;
          max-width: 50vw;
          max-height: 130px;
          width: 100%;
        }
      }
      .article-body {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 10px;
        min-height: 72px;
        padding-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  section.articles-with-images article .card-image {
    width: 100%;
    min-height: 130px;
    max-width: 50vw;
    max-height: auto;
    overflow: hidden;
    img {
      width: 100%;
      min-height: 130px;
      max-width: 50vw;
      max-height: none;
    }
  }
}

@media screen and (min-width: 720px) {
  section.articles-with-images article {
    width: calc(33% - 9px);
    .card-image {
      width: 100%;
      min-height: 130px;
      max-width: 33vw;
      max-height: auto;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
        min-height: 130px;
        max-width: 50vw;
        max-height: none;
      }
    }
  }
  .headline-shortcuts {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
    width: 100%;
    padding-left: 14px;
    flex-wrap: wrap;
    article.without-images {
      flex-direction: column;
      width: 100%;
      background-color: white;
      max-width: calc(50% - 11px);
      margin: 0 5px 0 2px;
    }
  }
}

@media screen and (min-width: 900px) {
  section.articles-with-images article {
    width: calc(25% - 9px);
    .card-image {
      width: 100%;
      min-height: 130px;
      max-width: 33vw;
      max-height: auto;
      overflow: hidden;
      img {
        width: 100%;
        min-height: 130px;
        max-width: 50vw;
        max-height: none;
      }
    }
  }
}
