.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.transparent-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
nav {
  background-color: white;
  @extend .flex-row;
  height: 42px;
  .nav-left {
    @extend .flex-row;
    width: 100px;
    justify-content: flex-start;
    button.menu-btn {
      @extend .flex-row;
      margin-top: 2px;
      background-color: transparent;
      outline: none;
      border: none;
      span {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        margin-left: 0px;
        cursor: pointer;
      }
    }
  }
  .nav-middle {
    width: calc(100vw - 200px);
    img.rte-nav-logo {
      height: 35px;
      margin-top: 3px;
    }
  }
  .nav-right {
    width: 100px;
    @extend .flex-row;
    justify-content: flex-end;
    button.search-nav-icon {
      @extend .flex-row;
      @extend .transparent-button;
      height: 25px;
      margin-right: 15px;
      img.search-icon {
        height: 21px;
      }
    }
    button.user-nav-icon {
      @extend .transparent-button;
    }
    .tablet-menu {
      display: none;
      transition: 0.3s ease-in;
    }
  }
}

nav.headlines-categories {
  @extend .flex-row;
  background-color: #eeecec;
  justify-content: space-evenly;
  max-width: 80%;
  margin-left: 10%;
  a.headline-news-category {
    color: #24221f;
    font-size: 0.875rem;
    text-decoration: none;
    outline: none;
    text-align: center;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &:hover {
      text-decoration: underline;
    }
  }
}
section.navbar-menu {
  transition-property: transform;
  transform: scaleY(0);
  position: fixed;
  width: 100vw;
  transition: 0.5s ease-in-out;
  transform-origin: top;
  background-color: transparent;
  ul {
    transform-origin: top;
    transition: 0.5s ease-in-out;
    background-color: white;
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: left;
    li {
      padding: 6px 8px;
      border-bottom: 1px solid #dbd9d4;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }
    &.expanded {
      display: block;
    }
  }
  &.expanded {
    height: auto;
    transition: 0.5s ease-in-out;
    transition-property: transform;
    transform: scaleY(1);
    // animation-name: menuAnimation;
    // animation-duration: 0.4s;
    // animation-timing-function: linear;
    // animation-fill-mode: forwards;
    // visibility: visible;
  }
}

@media only screen and (min-width: 640px) {
  nav {
    .nav-left {
      button.menu-btn {
        display: none;
      }
    }
    .nav-right {
      .tablet-menu {
        display: block;
        transition: 0.3s ease-in;
      }
    }
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 5px;
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 29px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 27px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -8px;
}
.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes menuAnimation {
  0% {
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
}
